conversational-workflow.json
{
  "name": "Conversational Expense Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "whatsapp-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Get message and phone\nconst webhookBody = $input.item.json.body || $input.item.json;\nconst message = (webhookBody.body?.data?.message?.conversation || webhookBody.data?.message?.conversation || '').trim().toLowerCase();\nconst phone = webhookBody.body?.data?.key?.remoteJid || webhookBody.data?.key?.remoteJid;\n\n// Get current state from static data (conversation memory)\nconst workflowStatic = this.getWorkflow().staticData || {};\nif (!workflowStatic.conversations) {\n  workflowStatic.conversations = {};\n}\n\nconst userState = workflowStatic.conversations[phone] || { step: 'idle' };\n\n// Handle conversation flow\nlet response = '';\nlet shouldSave = false;\nlet expenseData = null;\n\nif (message === 'add expense' || message === 'add') {\n  userState.step = 'waiting_category';\n  response = '📝 What category?\\n\\nExamples: food, transport, bills, shopping, entertainment, health';\n  \n} else if (userState.step === 'waiting_category') {\n  userState.category = message;\n  userState.step = 'waiting_amount';\n  response = `💰 How much? (just enter the number)`;\n  \n} else if (userState.step === 'waiting_amount') {\n  const amount = parseFloat(message.replace(/,/g, ''));\n  if (isNaN(amount)) {\n    response = '❌ Invalid amount. Please enter a number (e.g., 25 or 150.50)';\n  } else {\n    userState.amount = amount;\n    userState.step = 'waiting_description';\n    response = `📋 Description? (e.g., lunch, taxi, groceries)`;\n  }\n  \n} else if (userState.step === 'waiting_description') {\n  userState.description = message;\n  shouldSave = true;\n  expenseData = {\n    category: userState.category,\n    amount: userState.amount,\n    description: userState.description,\n    phone: phone\n  };\n  // Reset state\n  userState.step = 'idle';\n  response = 'saving';\n  \n} else {\n  response = '👋 Hi! Send \"add expense\" to start tracking an expense.\\n\\nOr use quick format: expense description amount category\\nExample: expense lunch 25 food';\n}\n\n// Save state\nworkflowStatic.conversations[phone] = userState;\n\nreturn {\n  response: response,\n  shouldSave: shouldSave,\n  expenseData: expenseData,\n  phone: phone\n};"
      },
      "id": "conversation-handler",
      "name": "Conversation Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldSave }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-save",
      "name": "Should Save?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO expenses (amount, category, description, phone_number) \nVALUES ( \n  {{ $json.expenseData.amount }}, \n  '{{ $json.expenseData.category }}', \n  '{{ $json.expenseData.description }}', \n  '{{ $json.expenseData.phone }}' \n) \nRETURNING *;",
        "options": {}
      },
      "id": "save-db-node",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 200],
      "credentials": {
        "postgres": {
          "id": "bTGkR7pFa0wl9Xpa",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \n  COALESCE(SUM(amount), 0) as total,\n  COUNT(*) as count\nFROM expenses \nWHERE EXTRACT(MONTH FROM date) = EXTRACT(MONTH FROM CURRENT_DATE)\n  AND EXTRACT(YEAR FROM date) = EXTRACT(YEAR FROM CURRENT_DATE)\n  AND phone_number = '{{ $('Conversation Handler').item.json.phone }}'",
        "options": {}
      },
      "id": "monthly-total-node",
      "name": "Get Monthly Total",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "bTGkR7pFa0wl9Xpa",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const expense = $('Save to Database').item.json;\nconst monthlyData = $('Get Monthly Total').item.json;\n\nconst reply = `✅ Expense added!\\n💰 Amount: RM${expense.amount}\\n🏷️ Description: ${expense.description}\\n🗂️ Category: ${expense.category}\\n\\n📊 This Month Total:\\n💵 RM${monthlyData.total} (${monthlyData.count} expenses)`;\n\nreturn { reply: reply };"
      },
      "id": "format-saved",
      "name": "Format Saved Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "const conversationResponse = $('Conversation Handler').item.json.response;\nreturn { reply: conversationResponse };"
      },
      "id": "format-conversation",
      "name": "Format Conversation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "id": "merge-responses",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Conversation Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Handler": {
      "main": [
        [
          {
            "node": "Should Save?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Save?": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Conversation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Get Monthly Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Monthly Total": {
      "main": [
        [
          {
            "node": "Format Saved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Saved Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Conversation Response": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": []
}
