simple-workflow.json
{
  "name": "Simple Expense Tracker",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "lastNode"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nconst message = (data.body?.data?.message?.conversation || '').toString().toLowerCase().trim();\nconst phone = data.body?.data?.key?.remoteJid || 'unknown';\nconst parts = message.split(' ');\n\nif (parts[0] === 'add' && parts.length >= 3) {\n  return {\n    description: parts[1],\n    amount: parseFloat(parts[2]),\n    category: parts[3] || 'general',\n    phone: phone\n  };\n}\n\nthrow new Error('Invalid format. Use: add [description] [amount] [category]');"
      },
      "id": "parse",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO expenses (description, amount, category, phone_number) VALUES ('{{ $json.description }}', {{ $json.amount }}, '{{ $json.category }}', '{{ $json.phone }}') RETURNING *;",
        "options": {}
      },
      "id": "save",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [680, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"✅ Expense added!\\n💰 Amount: $\" + $json.amount + \"\\n📝 Description: \" + $json.description + \"\\n🏷️ Category: \" + $json.category}"
      },
      "id": "response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Parse Message", "type": "main", "index": 0}]]
    },
    "Parse Message": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    },
    "Save to Database": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
